.mat-dialog-content {
    min-width: 300px;
}

::ng-deep .mat-grid-tile-content {
    flex-direction: column;
    align-items: self-start !important;
}

@media (max-width: 600px) {
    .mat-dialog-content {
        max-width: 430px;
    }
}

@media (min-width: 601px) and (max-width: 749px) {
    .mat-dialog-content {
        width: 450px;
    }
}

@media (min-width: 750px) and (max-width: 1023px) {
    .mat-dialog-content {
        width: 600px;
    }
}

@media (min-width: 1024px) {
    .mat-dialog-content {
        width: 800px;
    }
}