<mat-toolbar class="example-toolbar" *ngIf="isLogged()">
    <button mat-icon-button (click)="toggle()"><mat-icon>menu</mat-icon></button>

    <img src="assets/images/logo-small.png" alt="logo" class="logo">

    <a routerLink="/">
        <span class="title">Kacique</span>
    </a>

    <span class="spacer"></span>

    <span>
        <a mat-button href="{{'/member/edit/' + id}}" routerLink="profile" perm_identity>
        <mat-icon>perm_identity</mat-icon>
        </a>
    </span>

    <span>
        <a mat-button (click)="logout()">Logout</a>
  </span>
</mat-toolbar>