<form [formGroup]="motorcycleForm">
  <mat-card-title>{{ title }}</mat-card-title>
  <mat-divider></mat-divider>
  

  <mat-grid-list [cols]="breakpoint" rowHeight="70px" (window:resize)="onResize($event)" gutterSize="15px">

    <mat-grid-tile>
      <mat-form-field appearance="fill">
          <mat-label>Proprietário</mat-label>
          <mat-select formControlName="owner">
              <mat-option *ngFor="let member of members" [value]="member.nickname">{{ member.name }}</mat-option>
          </mat-select>
          <mat-icon matSuffix>sports_motorsports</mat-icon>
          <mat-error *ngIf="motorcycleForm.controls.owner.invalid">
            {{ getErrorMessage('owner') }}
          </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Apelido</mat-label>
        <input matInput formControlName="nickname" name="nickname" placeholder="Apelido" />
        <mat-icon matSuffix>favorite</mat-icon>
      </mat-form-field>

    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Modelo</mat-label>
        <input matInput formControlName="vehicle" name="vehicle" placeholder="Modelo" />
        <mat-icon matSuffix>two_wheeler</mat-icon>
        <mat-error *ngIf="motorcycleForm.controls.vehicle.invalid">
          {{ getErrorMessage('vehicle') }}
      </mat-error>
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Cor</mat-label>
        <input matInput formControlName="color" name="color" placeholder="Cor" />
        <mat-icon matSuffix>color_lens</mat-icon>
        <mat-error *ngIf="motorcycleForm.controls.color.invalid">
          {{ getErrorMessage('color') }}
      </mat-error>
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Ano</mat-label>
        <input matInput formControlName="year" name="year" placeholder="Ano" mask="0000" />
        <mat-icon matSuffix>date_range</mat-icon>
        <mat-error *ngIf="motorcycleForm.controls.year.invalid">
          {{ getErrorMessage('year') }}
      </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Placa</mat-label>
        <input matInput formControlName="plate" name="plate" placeholder="Placa" mask="AAA-0A00" />
        <mat-icon matSuffix>pin</mat-icon>
        <mat-error *ngIf="motorcycleForm.controls.plate.invalid">
          {{ getErrorMessage('plate') }}
      </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Seguro</mat-label>
        <input matInput formControlName="insurance" name="insurance" placeholder="Seguro" />
        <mat-icon matSuffix>security</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Apólice</mat-label>
        <input matInput formControlName="policy" name="policy" placeholder="Apólice" />
        <mat-icon matSuffix>policy</mat-icon>
      </mat-form-field>
    </mat-grid-tile>


  </mat-grid-list>

  <mat-card-footer>
    <button mat-raised-button (click)="createMoto()" color="primary">
      Salvar
    </button>
    <button mat-raised-button (click)="cancelar()">Cancelar</button>
    <button mat-raised-button (click)="deleteMoto()" *ngIf="!hidden" color="warn">
      Deletar
    </button>
  </mat-card-footer>
</form>