<div class="background" >
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav
        [mode]="mobileQuery.matches ? 'over' : 'side'" 
        [fixedInViewport]="mobileQuery.matches" 
        >
            <mat-nav-list *ngIf="isLogged()">
                <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of fillerNav">
                    <mat-icon class="icon">{{nav.icon}}</mat-icon>
                    {{nav.name}}</a>
            </mat-nav-list>
        </mat-sidenav>

        <div id="app">
            <div class="container">
                <mat-card class="matc">
                    <router-outlet></router-outlet>
                </mat-card>
            </div>
        </div>
    </mat-sidenav-container>
</div>