.content-area {
    height: auto;
    margin: 40px 0;
    background-color: rgb(66, 66, 66);
}

input {
    color: #ccc !important;
}

table {
    width: 100%;
}

.filter {
    width: 100%;
}

tr.table-row:not(.example-expanded-row):hover {
    background: rgb(73, 73, 73);
    cursor: pointer;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  width: 180px;
}

h1 {
  margin-left: 10px;
  margin-bottom: 0;
}

.title-head {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.left-margin {
  margin-left: 25px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-evenly;
}