<form *ngIf="memberForm" [formGroup]="memberForm">
    <mat-card-title *ngIf="!hasData">Novo Membro</mat-card-title>
    <mat-card-title *ngIf="hasData">Editar Membro</mat-card-title>
    <mat-card-subtitle>Informações do Membro</mat-card-subtitle>
    <mat-divider></mat-divider>

    <mat-grid-list [cols]="breakpoint" 
    rowHeight="70px"
    (window:resize)="onResize($event)"
    gutterSize="15px">

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>CPF</mat-label>
                <input matInput
                formControlName="cpf"
                mask="000.000.000-00" placeholder="CPF">
                <mat-icon matSuffix>badge</mat-icon>
                <mat-error *ngIf="memberForm.controls.cpf.invalid">
                    {{ getErrorMessage('cpf') }}
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="colspan2">
            <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput
                formControlName="firstname">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="memberForm.controls.firstname.invalid">
                    {{ getErrorMessage('firstname') }}
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="colspan2">
            <mat-form-field appearance="fill">
                <mat-label>Sobrenome</mat-label>
                <input matInput
                formControlName="lastname">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="memberForm.controls.lastname.invalid">
                    {{ getErrorMessage('lastname') }}
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Sexo</mat-label>
                <mat-select formControlName="genre">
                    <mat-option value="male">Masculino</mat-option>
                    <mat-option value="female">Feminino</mat-option>
                </mat-select>
                <mat-icon matSuffix>wc</mat-icon>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Data de nascimento</mat-label>
                <input matInput 
                [matDatepicker]="birth"
                formControlName="birth">
                <mat-datepicker-toggle matSuffix [for]="birth"></mat-datepicker-toggle>
                <mat-datepicker #birth></mat-datepicker>
                <mat-error *ngIf="memberForm.controls.birth.invalid">
                    {{ getErrorMessage('birth') }}
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Celular</mat-label>
                <input matInput
                formControlName="phone"
                mask="(00) 00000-0000">
                <mat-icon matSuffix>phone</mat-icon>
                <mat-error *ngIf="memberForm.controls.phone.invalid">
                    {{ getErrorMessage('phone') }}
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Tipo sanguíneo</mat-label>
                <mat-select formControlName="bloodType">
                    <mat-option value="aPlus">A+</mat-option>
                    <mat-option value="aMinus">A-</mat-option>
                    <mat-option value="bPlus">B+</mat-option>
                    <mat-option value="bMinus">B-</mat-option>
                    <mat-option value="abPlus">AB+</mat-option>
                    <mat-option value="abMinus">AB-</mat-option>
                    <mat-option value="oPlus">O+</mat-option>
                    <mat-option value="oMinus">O-</mat-option>
                </mat-select>
                <mat-icon matSuffix>bloodtype</mat-icon>
                <mat-error *ngIf="memberForm.controls.bloodType.invalid">
                    {{ getErrorMessage('bloodType') }}
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>
        
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Estado civil</mat-label>
                <mat-select formControlName="civil" formControlName="civil">
                    <mat-option value="single">Solteiro(a)</mat-option>
                    <mat-option value="married">Casado(a)</mat-option>
                    <mat-option value="separate">Separado(a)</mat-option>
                    <mat-option value="divorced">Divorciado(a)</mat-option>
                    <mat-option value="widower">Viúvo(a)</mat-option>
                </mat-select>
                <mat-icon matSuffix>book</mat-icon>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Ocupacão</mat-label>
                <input matInput
                formControlName="occupation">
                <mat-icon matSuffix>work</mat-icon>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Carteira de habilitação</mat-label>
                <input matInput
                formControlName="driverLicense"
                mask="00000000000">
                <mat-icon matSuffix>badge</mat-icon>
                <mat-error *ngIf="memberForm.controls.driverLicense.invalid">
                    {{ getErrorMessage('driverLicense') }}
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Data de emissão</mat-label>
                <input matInput 
                [matDatepicker]="emissionDate" 
                formControlName="emissionDate">
                <mat-datepicker-toggle matSuffix [for]="emissionDate">
                </mat-datepicker-toggle>
                <mat-datepicker #emissionDate></mat-datepicker>
                <mat-error *ngIf="memberForm.controls.emissionDate.invalid">
                    {{ getErrorMessage('emissionDate') }}
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Data de validade</mat-label>
                <input matInput 
                [matDatepicker]="expirationDate" 
                formControlName="expirationDate">
                <mat-datepicker-toggle matSuffix [for]="expirationDate">
                </mat-datepicker-toggle>
                <mat-datepicker #expirationDate></mat-datepicker>
                <mat-error *ngIf="memberForm.controls.expirationDate.invalid"> 
                    {{ getErrorMessage('expirationDate') }}
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>PIX</mat-label>
                <input matInput
                formControlName="pix">
                <mat-icon matSuffix>pix</mat-icon>
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-card-subtitle>Endereço</mat-card-subtitle>
    <mat-divider></mat-divider>

    <mat-grid-list [cols]="breakpoint" 
    rowHeight="70px"
    (window:resize)="onResize($event)" 
    gutterSize="15px">
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>CEP</mat-label>
                <input matInput
                formControlName="cep"
                mask="00000-000"
                (blur)="findAddress()">
                <mat-icon *ngIf="!cepLoading" matSuffix>pin</mat-icon>
                <mat-spinner *ngIf="cepLoading" diameter="24" color="accent"></mat-spinner>
                <mat-error *ngIf="memberForm.controls.cep.invalid"> 
                    {{ getErrorMessage('cep') }}
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="colspan3">
            <mat-form-field appearance="fill">
                <mat-label>Endereço</mat-label>
                <input matInput
                formControlName="address">
                <mat-icon matSuffix>place</mat-icon>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Número</mat-label>
                <input matInput
                formControlName="number">
                <mat-icon matSuffix>123</mat-icon>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Bairro</mat-label>
                <input matInput
                formControlName="neighborhood">
                <mat-icon matSuffix>holiday_village</mat-icon>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Estado</mat-label>
                <input matInput
                formControlName="state">
                <mat-icon matSuffix>place</mat-icon>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Cidade</mat-label>
                <input matInput
                formControlName="city">
                <mat-icon matSuffix>location_city</mat-icon>
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-card-subtitle>Informações de Usuário</mat-card-subtitle>
    <mat-divider></mat-divider>

    <mat-grid-list [cols]="breakpoint" 
    rowHeight="70px"
    (window:resize)="onResize($event)"
    gutterSize="15px">
        <mat-grid-tile [colspan]="colspan2">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput
                placeholder="email@example.com"
                formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="memberForm.controls.email.invalid">
                    {{ getErrorMessage('email') }}
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Usuário</mat-label>
                <input matInput
                formControlName="username"
                (keyup)="findUser($event)">
                <mat-icon *ngIf="!usernameLoading" matSuffix>perm_identity</mat-icon>
                <mat-spinner *ngIf="usernameLoading" diameter="24" color="accent"></mat-spinner>
                <mat-error *ngIf="memberForm.controls.username.invalid">
                    {{ getErrorMessage('username') }}
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Senha</mat-label>
                <input matInput 
                [type]="hidePass ? 'password' : 'text'"
                formControlName="password">
                <button mat-icon-button matSuffix 
                (click)="hidePass = !hidePass" 
                [attr.aria-label]="'Hide password'" 
                [attr.aria-pressed]="hidePass">
                  <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="memberForm.controls.password.invalid">
                    {{ getErrorMessage('password') }}
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Confirme a senha</mat-label>
                <input matInput 
                [type]="hideConfirm ? 'password' : 'text'"
                formControlName="confirmPass">
                <button mat-icon-button matSuffix 
                (click)="hideConfirm = !hideConfirm" 
                [attr.aria-label]="'Hide password'" 
                [attr.aria-pressed]="hideConfirm">
                  <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="memberForm.controls.confirmPass.invalid">
                    {{ getErrorMessage('confirmPass') }}
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-card-subtitle>Outras Informações</mat-card-subtitle>
    <mat-divider></mat-divider>

    <mat-grid-list [cols]="breakpoint" 
    rowHeight="70px"
    (window:resize)="onResize($event)"
    gutterSize="15px">
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Naturalidade</mat-label>
                <input matInput
                formControlName="naturalness">
                <mat-icon matSuffix>location_city</mat-icon>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Nacionalidade</mat-label>
                <input matInput
                formControlName="nationality">
                <mat-icon matSuffix>flag</mat-icon>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="colspan2">
            <mat-form-field appearance="fill">
                <mat-label>Contato emergência</mat-label>
                <input matInput
                formControlName="contact">
                <mat-icon matSuffix>contact_phone</mat-icon>
                <mat-error *ngIf="memberForm.controls.contact.invalid">
                    {{ getErrorMessage('contact') }}
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Padrinho</mat-label>
                <input matInput
                formControlName="godfather">
                <mat-icon matSuffix>supervisor_account</mat-icon>
                <mat-error *ngIf="memberForm.controls.godfather.invalid">
                    {{ getErrorMessage('godfather') }}
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Data do batismo</mat-label>
                <input matInput 
                [matDatepicker]="baptismDate" 
                formControlName="baptismDate">
                <mat-datepicker-toggle matSuffix [for]="baptismDate">
                </mat-datepicker-toggle>
                <mat-datepicker #baptismDate></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Data de filiação</mat-label>
                <input matInput 
                [matDatepicker]="affiliationDate" 
                formControlName="affiliationDate">
                <mat-datepicker-toggle matSuffix [for]="affiliationDate">
                </mat-datepicker-toggle>
                <mat-datepicker #affiliationDate></mat-datepicker>
                <mat-error *ngIf="memberForm.controls.affiliationDate.invalid">
                    {{ getErrorMessage('affiliationDate') }}
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                    <mat-option value="active">Ativo</mat-option>
                    <mat-option value="onLeave">Licença</mat-option>
                    <mat-option value="freePass">Isento</mat-option>
                    <mat-option value="punishment">Afastado</mat-option>
                    <mat-option value="excommunicado">Desligado</mat-option>
                </mat-select>
                <mat-icon matSuffix>rule</mat-icon>
                <mat-error *ngIf="memberForm.controls.status.invalid">
                    {{ getErrorMessage('status') }}
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-slide-toggle
            formControlName="donor">
                Doador de órgãos
                <mat-icon matSuffix>volunteer_activism</mat-icon>
            </mat-slide-toggle>
        </mat-grid-tile>
        
        <mat-grid-tile>
            <mat-slide-toggle
            formControlName="admin">
                Administrador
                <mat-icon matSuffix>admin_panel_settings</mat-icon>
            </mat-slide-toggle>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-card-footer>
        <button mat-raised-button 
        color="primary"
        (click)="onSubmit()">
            Salvar
        </button>
        <button mat-raised-button 
        (click)="cancelar()">
            Cancelar
        </button>
    </mat-card-footer>
</form>